@model InthinkSolution.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>

<form method="post" asp-action="CreateUser">
    <div>
        <label>Username:</label>
        <input asp-for="Username" required />
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email"/>
    </div>

    <div>
        <label>Password:</label>
        <input type="password" asp-for="Password" required />
    </div>

    <div>
        <label>Role:</label>
        <select asp-for="Role" required>
            <option value="Operator">Operator</option>
            <option value="Supervisor">Supervisor</option>
        </select>
    </div>

    <div>
        <label>First Name:</label>
        <input asp-for="FirstName" required />
    </div>

    <div>
        <label>Last Name:</label>
        <input asp-for="LastName" required />
    </div>

    <button type="submit">Create</button>
    <button type="button" onclick="location.href='@Url.Action("AdminDashboard", "Admin")'">Cancel</button>
</form>
